ul {
  list-style: none;
}
.App {
  text-align: center;
}
.App-header {
  background-color: rgba(25, 28, 33, 255);
  height: 20vh;
  width: 100vw;
  font-size: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.App-content {
  background-color: white;
  height: 50vh;
  width: 100vw;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.App-contact {
  color: white;
  background-color: rgba(25, 28, 33, 255);
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-footer {
  height: 10vh;
  width: 100vw;
  background-color: rgb(218, 41, 28);
  color: white;
  display: flex;
  justify-content: center;
}
